.pop-up-delete {
    animation: popUp 2.5s ease-in-out forwards ; 
}


.hide-arrow {
    border: 2px solid #00ff95;
    outline: none;
    color: #333333;
    appearance: none; /* Menghilangkan default arrow */
    -webkit-appearance: none; /* Untuk browser Webkit (Safari, Chrome, dll.) */
    -moz-appearance: none; /* Untuk browser Mozilla Firefox */
    background-image: none; /* Menghilangkan background image (biasanya panah dropdown) */
    /* Anda dapat menyesuaikan styling lebih lanjut sesuai kebutuhan */
}



@keyframes popUp {
    0% {
        opacity: 0;
        transform: scale(0) translateY(-100px);
    }
    25% {
        opacity: 1;
        transform: scale(1) ; 
    }
    50% {
        opacity: 1;
        transform: scale(1), translateY(0px);
    }
    75% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(0);
    }
    
}

